
.pokemon {
  text-align: center;
  text-transform: capitalize;
  height: 350px;

}

.pokeball {
  background-image: url("../img/fdPoke.jpg");
  background-position: center;
  background-size: 100%;
  text-align: center;
}

.pokemon img {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

.pokemon .info {
  margin-top: 135px;

}

.pokemon .info span{
  text-align: center;

}

.pokemon .info span:nth-child(odd) {
  font-weight: bold;
}


pagination-controls {
  text-align: center;
}
